/* CETEIcean rules */
tei-l:before {
    content: attr(n);
    display: inline;
    padding-right: 10px;
    color: darkgray;
}

tei-speaker:before {
    content: attr(name);
    display: inline;
    font-weight: bold;
}

tei-l {
    display: block;
    margin-left: 100px;
}

tei-note {
    display: none;
}
